/* Transport Page */
.Transport {
    width: 80%;
    margin: 20px auto;
    padding: 20px 30px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px black;
    border-radius: 3px;
  }

.Transport img {
  width: 270px;
  float: right;
  margin-left: 20px;
}

@media all and (max-width: 954px) {

  .Transport {
    width: 90%;
    padding: 20px;

  }
  .Transport img {
    width: 40%;
  }
}

@media all and (max-width: 480px) {
  .Transport img {
    width: 100%;
    float: none;
    margin: 0;
  }
}