.Culture {
    width: 80%;
    margin: 20px auto;
    padding: 20px 30px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px black;
    border-radius: 3px;
  }


  /* .Culture h3 {
    color: #E28A62
  } */

  .Culture img:nth-of-type(2n+1) {
    width: 35%;
    border-radius: 15px;
    float: right;
    margin-left: 15px;

  }


  .Culture img:nth-of-type(2n+2) {
    width: 30%;
    border-radius: 15px;
    float: left;
    margin-right: 15px;

  }

  .Culture img:nth-of-type(3) {
    width: 30%;
    border-radius: 15px;
    float: right;
    margin-left: 15px;
  }


@media all and (max-width: 1025px){
  .Culture {
    width: 90%;
    padding: 20px;
  }

  .Culture img:nth-of-type(2n+1) {
    width: 55%;
    border-radius: 15px;
    float: right;
    margin-left: 15px;

  }

  .Culture img:nth-of-type(2n+2) {
    width: 50%;
    border-radius: 15px;
    float: left;
    margin-right: 15px;

  }


  .Culture img:nth-of-type(3) {
    width: 50%;
    border-radius: 15px;
    float: right;
    margin-left: 15px;
  }

}