.carousel .slide {
    height: fit-content;
} 
.carousel-inner > .carousel-item {
    height: calc(100vh - 115px);
    width: 100%;
} 

@media all and (max-width: 1800px) {
    .carousel-inner > .carousel-item {
        height: 100%;
        width: 100%;
    } 
}