/* whole CardView box  */
._1-wtg {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
}

/* text details */
._1lLZK {
    color: rgba(48, 71, 120, 0.85);
    padding-top: 16px;
}

p._1-xF_{
    text-transform: uppercase;
    font-weight: 600;
    color: #b30000;
    margin: 0;

}

/* dropdown carousel */
._2vJBP {
    padding: 0 30px 0 5px;
}
._3FIQ_ {
    border-radius: 7px;
    box-shadow: 0 2px 10px 0 rgb(77, 75, 75);
    background-color: #f3f3f3de;
}
._VrCvP {
    padding: 10px 35px 10px 35px ;
}
/* ._VrCvP:active {
    padding: 10px 40px 5px 40px;
} */

i._18n05 {
    margin-top: -13px;
}

/* images */
._2sohj {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}
._2sohj img {
    box-shadow: 0 2px 10px 0 rgb(77, 75, 75);
}


@media all and (max-width: 1054px) {
    ._1-wtg {
        flex-flow: column;
    }
    ._2sohj {
        padding: 5px 30px 5px 35px;
    }
    ._2vJBP {
        padding: 15px 30px 0 5px;
    }
    ._VrCvP {
        padding-bottom: 15px
    }

}