header {
    background-color: #e28a62;
}

header > div {
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
header > div > * {
    width: 30%;
}

/* Weather styling */
.Weather {
    text-align: center;
}

/* Clock styling */
.Clock {
    text-align: right;
}


/* NavBar styling */
.NavBar {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    padding-top: 10px;
    color: #eeeeee;
}
.NavBar a {
    padding: 0px 10px; 
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: white;
    letter-spacing: 2px;
}

/* .NavLinks {
    display: flex;
    justify-content: space-between;
    width: 40vw;
} */

.NavLinks a:hover,
.NavLinks a:active {
    color: #b30000;
    transform: scale(1.5, 1.5);
    transition: 0.3s;
}

hr {
    border: 3px solid #b30000;
    margin: 10px 0 0;
    opacity: 1;
}