header {
    background-color: #e28a62;
}

header > div {
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
header > div > * {
    width: 30%;
}

/* NavBar styling */
.NavBar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 10px;
    color: #eeeeee;
}
.NavBar a {
    padding: 0px 10px; 
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: white;
    letter-spacing: 2px;
}

/* Stamp */
.Stamp {
    height: 90px;
    width: auto;
    padding-left: 20px;
}

/* Links to the Pages */
.NavBar > .NavLinks a:hover, 
.NavBar > .NavLinks a.active {
    color: #b30000;
    transform: scale(0.5, 0.5); 
    transition: 0.3s;
}

/* Weather and Clock */
.Weather, .Clock {
    font-weight: bold;
}

.Weather {
    text-align: center;
    padding: 10px;
}

.Clock {
    text-align: right;
    padding-right: 20px;
}

/* horizontal line */
hr {
    border: 3px solid #b30000;
    margin: 10px 0 0;
    opacity: 1;
}

@media all and (max-width: 1100px) {
    .Stamp {
        display: none;
    }
}

@media all and (max-width: 954px) {
    .NavBar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .LocalData {
        display: flex;
        flex-direction: row;
        
    }
}