header {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 5px 10px black;
}

header >div {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
}
header >div >div {
    width: 300px;
    text-align: center;
    /* border: 1px solid red; */
}

header h2 {
    padding: 10px;
}

.NavBar {
    display: flex;
    justify-content: space-evenly;

    /* border: 1px solid red; */
}

.NavBar a {
    padding: 15px;
    text-decoration: none;

}