/* Climate Page */
.Climate {
    width: 80%;
    margin: 20px auto;
    padding: 20px 30px;
    background-color: rgba(255, 255, 255, 0.829);
    box-shadow: 0 0 10px black;
    border-radius: 3px;
}
.Climate > p {
    margin: 20px 0 16px 24px;
}

h1 {
    font-size: 45px;
    text-shadow: 0 0 20px black;
}

@media all and (max-width: 1025px){
    .Climate {
      width: 90%;
      padding: 20px;
    }
  }