/* my reset css */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    /* background-image: url("./images/bg_porto.jpg"); */
    /* background-position: center; */
    /* height: 100vh; */
    /* width: 100%; */

    background-image: url("./images/bg-tile-small.jpg");
  }

body h1 {
  padding: 20px;
  text-align: center;
  color: #304778;
  text-shadow: 0 0 10px #FCF460;
}

.Transport {
  width: 80%;
  margin: 20px auto;
  padding: 20px 30px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 20px black;
  border-radius: 5px;
}

/* NotFound */
.NotFound {
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }