.Homepage {
    background-image: url(../../images/porto_1920.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.Logo {
    text-align: left;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 2vw;
    padding-top: 10px;
}

.Logo > span {
    text-align: left;
    font-weight: 900;
    font-size: 12vw;
    margin-right: 30px;
}

/* span {
    font-weight: bold;
    font-size: 2vw;
    background-color: #eeeeee;
    border-radius: 20px;
    margin: 40px;
    padding: 20px;

    color:#b30000;
} */