.Homepage {
    background-image: url(../../images/porto_1920.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    /* height: calc(100vh - 166px); */
}

.Logo {
    text-align: left;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 2vw;
    padding-top: 10px;
}

.Logo > span {
    text-align: left;
    font-weight: 900;
    font-size: 12vw;
    margin-right: 30px;
}
.LogoSmall {
    display: none;
}

@media all and (max-width: 954px) {
    .Logo {
        display: none;
    }

    .LogoSmall {
        display: flex;
        flex-direction: column;
        align-content: flex-start;  
        justify-content: flex-start;     
    }
    .Homepage {
        display: flex;
        flex-direction: row;
        align-content: flex-start;  
        justify-content: flex-start; 
    }
    .LogoSmall {
        font-size: 20vw;
    }
}