.Logo {
    text-align: left;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 2vw;
    padding-top: 10px;
    position: absolute;
    z-index: 1;
}

.Logo > span {
    text-align: left;
    font-weight: 900;
    font-size: 12vw;
    margin-right: 30px;
}
.LogoSmall {
    display: none;
}

.Introduction {
    width: 100%;
    margin: 0 auto;
    padding: 40px 60px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px black;
    border-radius: 3px;
}

blockquote {
    font-style: italic;
    font-weight: light;
    font-size: 20px;
}

@media all and (max-width: 954px) {
    .Logo {
        display: none;
    }

    .LogoSmall {
        display: flex;
        flex-direction: column;
        align-content: flex-start;  
        justify-content: flex-start;  
        position: absolute;  
        font-size: 20vw; 
        z-index: 1;
    }    
}